{% extends "_base.html" %}
{% block content %}
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis natus quos, voluptates nam architecto itaque modi praesentium error corporis beatae sequi possimus nostrum, accusamus provident quod numquam tempora minima eos.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, earum sit. Velit laudantium corporis nesciunt porro maiores perferendis, numquam nisi veritatis molestiae fugiat excepturi, consequuntur temporibus natus dicta? Sequi, magnam unde id odit atque necessitatibus eligendi animi eius alias repellendus architecto blanditiis soluta perspiciatis. Atque placeat quam quisquam veniam blanditiis.
  </p>
  <p><a href="{% url "map_fullscreen" %}">Fullscreen</a></p>
  <iframe src="{% url "map_fullscreen" %}" frameborder="0" width="100%" height="600px"></iframe>
{% endblock content %}
