  {% load leaflet_tags %}
  {% leaflet_map "map" %}
  {{ color_map | json_script:'colorMap' }}
  {{ categories | json_script:'categories'}}
  <script>
    const colorMap = JSON.parse(document.getElementById('colorMap').textContent)

    const categories = JSON.parse(document.getElementById('categories').textContent)

    const clusterRadius = 40;
    const iconProps = {
              iconShape: "marker",
              prefix: 'fa',
              borderColor: "white",
              iconStyle: "width:36px;height:36px",
              innerIconStyle: "margin-top:6px; margin-left:-3px;font-size:16px;",
              textColor: "white"
            };

    function addMarkers(category, markers, layerControl, map) {
      const categorySubGroup = L.featureGroup.subGroup(markers);
      layerControl.addOverlay(categorySubGroup, category.name)
      fetch(category.url)
      .then((response) => response.json())
      .then((data) => {
        const layerGroup = L.geoJSON(data, {
          pointToLayer: (feature, latlng) => {
            iconProps.icon = category.icon;
            iconProps.backgroundColor = colorMap[feature.properties.evaluation]??
                                            colorMap['default'];
            if (!feature.properties.published) {
              iconProps.customClasses = "draft";
            }
            const icon = L.BeautifyIcon.icon(iconProps);
            return L.marker(latlng, {icon: icon});
          },
          onEachFeature: (feature, layer) => {
            const popup = L.popup({minWidth: 250});
            layer.bindPopup(popup);
            layer.on("click", (layer) => {
              fetch(feature.properties.popupUrl)
              .then((response) => response.text())
              .then((html) => {
                popup.setContent(html);
                popup.update();
              })
              .catch(error => {
                console.log("Creating popup:", error);
              })
            })
          }
        }).addTo(categorySubGroup);
        categorySubGroup.addTo(map);
      })
      .catch((error) => {
        console.log(error);
      })
    }

    window.addEventListener("map:init", function(e) {
      const map = e.detail.map;
      const markers = L.markerClusterGroup({
        maxClusterRadius: clusterRadius,
      }).addTo(map);
      const layerControl = L.control.layers().addTo(map);
      const geocoder = L.Control.Geocoder.photon()
      L.Control.geocoder({
        defaultMarkGeocode:false,
        position: "topleft",
        geocoder: geocoder
      })
      .on('markgeocode', (e) => {
        map.flyToBounds(e.geocode.bbox, {maxZoom: 16});
      })
      .addTo(map);

      categories.map((category) => addMarkers(category, markers, layerControl, map));
    })
  </script>