  {% load leaflet_tags %}
  {% leaflet_map "map" %}
  {{ color_map | json_script:'colorMap' }}
  <script>
    const colorMap = JSON.parse(document.getElementById('colorMap').textContent)

    const categories = [
    {% for cat in categories %}
    {'cat': "{{ cat.name }}", 'url': "{% url 'data' cat.slug %}"},{% endfor %}
    ];

    const clusterRadius = 40;
    const iconProps = {
              iconShape: "marker",
              prefix: 'fa',
              borderColor: "white",
              iconStyle: "width:36px;height:36px",
              innerIconStyle: "margin-top:6px; margin-left:-3px;font-size:16px;",
              textColor: "white"
            };

    function createPopup(feature) {
      el = document.createElement('div');
      fetch(`/map/popup/${feature.id}/`)
      .then(response => response.text())
      .then(html => {
        el.innerHTML = html;
      })
      .catch(error => {
        console.error('Create Popup:', error);
      });
      return el;
    }

    function addMarkers(cat, url, markers, layerControl, map) {
      const categorySubGroup = L.featureGroup.subGroup(markers);
      layerControl.addOverlay(categorySubGroup, cat)
      fetch(url)
      .then((response) => response.json())
      .then((data) => {
        const layerGroup = L.geoJSON(data, {
          pointToLayer: (feature, latlng) => {
            iconProps.icon = feature.properties.icon;
            iconProps.backgroundColor = colorMap[feature.properties.evaluation]??
                                            colorMap['default'];
            const icon = L.BeautifyIcon.icon(iconProps);
            return L.marker(latlng, {icon: icon})
            .bindPopup(() => createPopup(feature), {minWidth: 250});
          }
        }).addTo(categorySubGroup);
        categorySubGroup.addTo(map);
      })
      .catch((error) => {
        console.log(error);
      })
    }

    window.addEventListener("map:init", function(e) {
      const map = e.detail.map;
      const markers = L.markerClusterGroup({
        maxClusterRadius: clusterRadius,
      }).addTo(map);
      const layerControl = L.control.layers().addTo(map);
      const geocoder = L.Control.Geocoder.photon()
      L.Control.geocoder({
        defaultMarkGeocode:false,
        position: "topleft",
        geocoder: geocoder
      })
      .on('markgeocode', (e) => {
        map.flyToBounds(e.geocode.bbox, {maxZoom: 16});
      })
      .addTo(map);

      categories.map(({cat, url}) => addMarkers(cat, url, markers, layerControl, map));
    })
  </script>